* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ddd5c8;
}

@font-face {
  font-family: "amanda";
  src: url(../font/Celina\ Stephanie.otf);
}

/*header*/

header {
  background-color: #ddd5c8;
  padding: 20px;
  width: 100%;
  border-bottom: 2px solid #746053;
  position: fixed;
}

nav {
  display: flex;
}

.nameHeader {
  padding-left: 100px;
  font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  list-style-type: none;
  transition: 0.3s;
}

.nameHeader a {
  text-decoration: none;
  color: #404435;
}

.nameSecundary {
  padding-left: 430px;
  padding-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.nameSecundary a {
  color: #404435;
  text-decoration: none;
  margin-left: 28px;
}

/*início*/

.container {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 250px;
  background-color: #404435;
}
.left {
  width: 50%;
  float: left;
}

.left h1 {
  color: white;
  padding-left: 190px;
  font-family: "amanda", Times, serif;
  font-size: 90px;
  font-weight: normal;
}

.left h3 {
  font-size: 25px;
  padding-left: 195px;
  font-family: "Julius Sans One", sans-serif;
  color: #ddd5c8;
}

.right {
  width: 50%;
  float: left;
}

.right p#one {
  color: #ddd5c8;
  padding-left: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

strong {
  font-style: italic;
}

/*Sobre Mim*/

h1#sobremim {
  color: #404435;
  font-family: Arial, Helvetica, sans-serif;
  padding: 120px 0 0 120px;
}

hr {
  color: gray;

  margin: 20px 40px 30px 40px;
}

p#sobreAmanda {
  padding: 0 80px 50px 80px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  text-indent: 2px;
}

.sobreAR {
  display: flex;
}

#Ogrande {
  width: 50px;
  height: 55px;
  border-radius: 11px;
  border-top: 100px;
}

#ola {
  font-style: normal;
}
